* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',
        sans-serif;
}


/* Navigation bar */
header {
    position: relative;
}

.nav__bar {
    position: fixed;
    left: 0%;
    top: 0;
    width: 100%;
    min-height: 15vh;
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    transition: all 0.2s ease;
    z-index: 100;
}

.nav__bar__logo {
    flex: 1 1 20%;
}

.nav__bar__logo a {
    text-decoration: none;
}

.nav__bar__logo a h1 {
    color: #F36C00;
    font-size: 26px;
    letter-spacing: 2px;
    transform: scaleY(1.4);
}

.nav__bar__links {
    min-width: 30%;
    flex: 1 2 40%;
    display: block;
}

.nav__bar__links ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;

}

.nav__bar__links ul li {
    margin: 5px 0;
}

.nav__bar__links ul li a {
    text-decoration: none;
    color: #555;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;

}

.nav__bar .nav__bar__actions {
    flex: 1 1 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__bar__actions .nav__bar__actions__signIn {
    background: none;
    border: none;
    font-size: 16px;
    color: #555;
    font-weight: 500;
    margin-right: 15px;
    padding: 10px;
    flex-wrap: nowrap;
    cursor: pointer;
}

.nav__bar__actions .nav__bar__actions__signUp {
    background-color: #28a711;
    font-size: 16px;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    flex-wrap: nowrap;
    cursor: pointer;
}

.nav__bar__actions__signIn a,
.nav__bar__actions__signUp a {
    text-decoration: none;
}

.nav__bar__actions__signIn a {
    color: #444;
}

.nav__bar__actions__signUp a {
    color: white;
}

.nav__bar .nav__bar__burger__menu {
    min-width: 90px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.219);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
}


/* Trail section */
.trail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
    width: 100%;
    padding: 0 15%;
    margin-top: 12vh;
    border-bottom: 1px solid #555;
}

.trail__top {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.trail__top__left {
    flex: 1 1 30%;
    background-color: #F36C00;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    color: white;
    font-weight: 600;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.trail__top__left .fa {
    padding: 5px 12px;
    /* height: 15px; */
    font-size: 40px;
    background-color: #e6802d;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.trail__top__right {
    flex: 1 1 30%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0.5px 0.5px 5px gray;
    text-align: center;
    font-size: 16px;
    color: #555;
}

.trail__top__right img {
    width: 400px;
}

.trail__top__right button,
.reviews>button,
.resources__content button {
    padding: 10px 15px;
    font-size: 16px;
    color: #555;
    background: none;
    border: 2px solid #c9c9c9;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.trail__top__right button .fa,
.reviews button a .fa {
    margin-left: 10px;
    font-weight: 200;
    transform: scaleX(1.5);
}

.trail__bottom {
    width: 100%;
    margin-bottom: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.trail__bottom h1,
.reviews h1,
.resources__content h1 {
    font-size: 35px;
    font-weight: 600;
    color: #444;
    margin-bottom: 15px;
}

.trail__bottom p {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

.trail__bottom .trail__bottom__input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.trail__bottom__input input {
    width: 350px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #c9c9c9;
    margin-right: 10px;
    border-radius: 5px;
}

.trail__bottom__input button {
    padding: 15px;
    font-size: 16px;
    color: white;
    background-color: #28a711;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.trail__bottom>a {
    text-decoration: none;
    color: #555;
    transition: all 0.2s ease;
}

.trail__bottom a .fa-google {
    color: #F36C00;
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #555;
}


/* Custome reviews */
.reviews {
    width: 100%;
    padding: 0 15%;
    margin-top: 80px;
    text-align: center;
    border-bottom: 1px solid #555;
}

.reviews h3,
.resources__content h3 {
    font-size: 22px;
    font-weight: 500;
    color: #555;
    margin: 5px 0;
}

.reviews h3 span,
.resources__content h3 span {
    color: #F36C00;
}

.reviews h1,
.resources__content h1 {
    margin-bottom: 70px;
}

.reviews__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.reviews__cards__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    flex-grow: 1;
    width: 330px;
    height: 400px;
    padding: 15px;
    font-size: 16px;
    color: white;
    text-align: left;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.reviews__cards__item svg {
    margin: 2px;
    margin-bottom: 10px;
}

.reviews__cards__item button {
    background: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 20px;
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.185);
    cursor: pointer;
}

.reviews__cards__item--crimson {
    background-color: #CB5C5B;
}

.reviews__cards__item--skyblue {
    background-color: #3D9DC1;
}

.reviews__cards__item--teal {
    background-color: #21A5A0;
}

.reviews__cards__item p {
    margin-bottom: 15px;
    line-height: 25px;
}

.reviews__logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.reviews__logos img {
    width: 80px;
    opacity: 0.3;
    margin: 15px 15px;
}

.reviews>button {
    margin-bottom: 70px;
}

.reviews>button a {
    text-decoration: none;
    color: #555;
}



/* Resources */
.help__resouces {
    text-align: center;
}

.help__resource {
    color: #f36c00;
}

.help__resouce__team {
    font-size: 32px;
}


.help__resouce_browseguidebtn {
    color: coral;
    border-radius: 15px;
    /* text-decoration: none; */
    border: 1px solid whitesmoke
}

.help__resoucebrowseguide {
    border: 1px solid grey;
    width: 230px;
    height: 6vh;
    background-color: whitesmoke;
    border-radius: 15px;
    color: grey;
    letter-spacing: 0.2em;
    text-decoration: none;
}

.help__resoucebrowseguide:hover {
    border: 1px solid orange;
    color: orange;
    transition: 0.5s ease-in-out;
    text-decoration: none;
}

.help__resource__arrow {
    position: relative;
    margin-left: -28px;
    color: orange;
    /* color: black; */
}

/* 
.help__resource__arrow :hover{
    color: orange;
} */


/* start cat  */

.help_resource__catdolbox {
    display: flex;
    flex: 1;
    padding: 22px;
    margin: 30px 420px;
}


.help__resource__dollar {
    background-color: pink;
    transform: rotate(-33deg);
    -ms-transform: rotate(30deg);
    color: red;
}

.help__resourcecatdolimg {
    width: 220px;
    display: inline;
    height: 220px;
    padding: 70px;
}

.help__resourcecatdol__dollar {
    width: 170px;
    height: 180px;
    background-color: yellow;
    -ms-transform: rotate(20deg);
    transform: rotate(-10deg);
    transition: width 2s;

}

.help__resourcecatdol__dollar:hover {
    width: 200px;
}

.help__resourcecatdol__pussycat {
    width: 150px;
    height: 180px;
    background-color: yellow;
    -ms-transform: rotate(20deg);
    transform: rotate(3deg);
    transition: height 2s;

}

.help__resourcecatdol__pussycat:hover {
    height: 200px;
}

.help__resourcecatdol__timetracking {
    width: 150px;
    height: 180px;
    background-color: yellow;
    -ms-transform: rotate(20deg);
    transform: rotate(10deg);
    transition: width 2s;
}

.help__resourcecatdol__timetracking:hover {
    width: 200px;
}

/* end cat */



.help__resourcetrial {
    background-color: #f6f6f6;
    /* border: 1px solid coral; */
    width: auto;
    height: 90vh;
    color: grey;
    padding: 5px;
    text-align: center;
}

.help__resourceTrialInpBtn {
    display: flex;
    flex: 1;
    justify-content: center;
}

.help__resourcetrial__inpBtn>input {
    width: 220px;
    height: 5vh;
    padding-left: 12px;
    margin: 12px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}

.help__resourcetrial__inpBtn>.help__resourcetrial__start {
    width: 220px;
    height: 6vh;
    margin-top: 12px;
    background-color: #4eaa12;
    color: white;
    border-radius: 10px;
}

.help__resourcetrial__inpbtngoogle {
    background-color: #f6f6f6;
    border: hidden;
    color: grey;
    padding: 12px;
}

.help__resourcesiteimg {
    width: 900px;
}

.help__resource__trialheader>h1 {
    font-weight: bold;
    color: #5e4b45;
    font-size: 42px;
}

.help__resource__trialheader>p {
    font-size: 20px;
}

.help__resource__footer {
    background-color: #424448;
    height: 50vh;
}

.help__resource__footerinfo {
    display: flex;
    padding: 20px;
    margin: 20px auto;
}

.help__resource__footerlink {
    color: white;
    padding: 12px;
    margin: 5px 55px;
}

.help__resource__footerforecast {
    border: 1px solid grey;
    border-radius: 12px;
    width: auto;
    height: auto;
    border: hidden;
    display: flex;
    box-shadow: 3px 3px 3px 3px black;
}

.help__resource_catdolimg1 {
    width: 120px;
}

.help__resource_createleader {
    /* border: 1px solid coral; */
    /* width: 222vh; */
    height: 70vh;
    padding-top: 112px;
    padding-bottom: 50px;
    border-bottom: 1px solid #555;
}

.help__resource_createleader>p {
    text-align: center;
    margin-top: 10px;
    margin-right: 120px;
}

.help__resource_allsnap {
    display: flex;
    flex: 1;
    margin: 0px 232px;
}

.help__resource_snappic>.help__resource__leaderimg {
    width: 220px;
}

.help__resource__time {
    color: #f36c00;
    /* width: 12px; */
    text-align: center;
    font-size: 24px;
}

.help__resource_createleader>.help__resource__counttimer {
    font-size: 32px;
    text-align: center;
}

.help__resource__readreview {
    margin: 0px 520px;
    padding: 12px;
}

.help__resource__arrow2 {
    position: relative;
    right: 30px;
    bottom: 1px;
}


/* Resources */
.help__resouces {
    text-align: center;
}

.help__resource {
    color: #f36c00;
}

.help__resouce__team {
    font-size: 32px;
}


.help__resouce_browseguidebtn {
    color: coral;
    border-radius: 15px;
    /* text-decoration: none; */

    border: 1px solid whitesmoke
}

.help__resoucebrowseguide {
    border: 1px solid grey;
    width: 230px;
    background-color: whitesmoke;
    border-radius: 15px;
    color: grey;
    letter-spacing: 0.2em;
    text-decoration: none;
    padding: 15px 20px;
    margin: 20px 0;
}

.help__resoucebrowseguide:hover {
    border: 1px solid orange;
    color: orange;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

.help__resource__arrow {
    position: relative;
    margin-left: -28px;
    color: orange;
    /* color: black; */
}

/* 
.help__resource__arrow :hover{
    color: orange;
} */


/* start cat  */

.help_resource__catdolbox {
    display: flex;
    flex: 1;
    padding: 22px;
    margin: 30px 420px;
}


.help__resource__dollar {
    background-color: pink;
    transform: rotate(-33deg);
    -ms-transform: rotate(30deg);
    color: red;
}

.help__resourcecatdolimg {
    width: 220px;
    display: inline;
    height: 220px;
    padding: 70px;
}

.help__resourcecatdol__dollar {
    width: 170px;
    height: 180px;
    background-color: yellow;
    -ms-transform: rotate(20deg);
    transform: rotate(-10deg);
    transition: width 2s;

}

.help__resourcecatdol__dollar:hover {
    width: 200px;
}

.help__resourcecatdol__pussycat {
    width: 150px;
    height: 180px;
    background-color: yellow;
    -ms-transform: rotate(20deg);
    transform: rotate(3deg);
    transition: height 2s;

}

.help__resourcecatdol__pussycat:hover {
    height: 200px;
}

.help__resourcecatdol__timetracking {
    width: 150px;
    height: 180px;
    background-color: yellow;
    -ms-transform: rotate(20deg);
    transform: rotate(10deg);
    transition: width 2s;
}

.help__resourcecatdol__timetracking:hover {
    width: 200px;
}

/* end cat */



.help__resourcetrial {
    background-color: #f6f6f6;
    /* border: 1px solid coral; */
    width: auto;
    height: 90vh;
    color: grey;
    padding: 5px;
    /* margin-top: 50px; */
    text-align: center;
}

.help__resourceTrialInpBtn {
    display: flex;
    flex: 1;
    justify-content: center;
}

.help__resourcetrial__inpBtn>input {
    width: 220px;
    height: 5vh;
    padding-left: 12px;
    margin: 12px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}

.help__resourcetrial__inpBtn>.help__resourcetrial__start {
    width: 220px;
    height: 6vh;
    margin-top: 12px;
    background-color: #4eaa12;
    color: white;
    border-radius: 10px;
}

.help__resourcetrial__inpbtngoogle {
    background-color: #f6f6f6;
    border: hidden;
    color: grey;
    padding: 12px;
}

.help__resourcesiteimg {
    width: 900px;
    position: absolute;
    bottom: -200%;
    left: 50%;
    transform: translateX(-50%);
}

.help__resource__trialheader {
    position: relative;
}

.help__resource__trialheader>h1 {
    font-weight: bold;
    color: #5e4b45;
    font-size: 42px;
    margin-top: 100px;
}

.help__resource__trialheader>p {
    font-size: 20px;
}

.help__resource__footer {
    background-color: #424448;
    height: 50vh;
}

.help__resource__footerinfo {
    display: flex;
    padding: 20px;
    margin: 20px auto;
}

.help__resource__footerlink {
    color: white;
    padding: 12px;
    margin: 5px 55px;
}

.help__resource__footerforecast {
    border: 1px solid grey;
    border-radius: 12px;
    width: auto;
    height: auto;
    border: hidden;
    display: flex;
    padding: 15px;
    box-shadow: 3px 3px 3px 3px black;
}

.help__resource_catdolimg1 {
    width: 120px;
}

.help__resource_createleader {
    /* border: 1px solid coral; */
    /* width: 222vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    padding-top: 112px;
}

.help__resource_createleader>p {
    text-align: center;
    margin-top: 10px;
    margin-right: 120px;
}

.help__resource_allsnap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 30px;
}

.help__resource_snappic>.help__resource__leaderimg {
    width: 220px;
}

.help__resource__time {
    color: #f36c00;
    /* width: 12px; */
    text-align: center;
    font-size: 24px;
}

.help__resource_createleader>.help__resource__counttimer {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}

.help__resource__readreview {
    margin: 0px 520px;
    padding: 12px;
}

.help__resource__arrow2 {
    position: relative;
    right: 30px;
    bottom: 1px;
}

/* Resources section */
.resources {
    margin-top: 150px;
    position: relative;
    overflow: hidden;
}

.resources__content {
    text-align: center;
}

.resources__content h1 {
    margin-bottom: 15px;
}

.resources__content button {
    margin-top: 0;
    margin-bottom: 340px;
}

.resources__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    bottom: -12%;
    left: 50%;
    transform: translateX(-50%); */
}

.resources__card__item {
    width: 250px;
    height: 350px;
    padding: 20px 25px;
    color: rgba(0, 0, 0, 0.541);
    background-color: #3D9DC1;
    text-align: center;
    margin: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.resources__card__item p {
    font-size: 19px;
    font-weight: 600;
}

.resources__card__item img {
    width: 210px;
    height: 210px;
}

.resources__card__item--teal {
    transform: rotateZ(-12deg) translateX(80px);
    transform-origin: bottom left;
    position: absolute;
    left: 23%;
    bottom: -28%;
    background-color: #21A5A0;
}

.resources__card__item--orange {
    position: absolute;
    left: 50%;
    bottom: -15%;
    transform: translate(-50%);
    background-color: #F18D2A;
    z-index: 1;
}

.resources__card__item--crimson {
    transform: rotateZ(12deg) translateX(-80px);
    transform-origin: bottom right;
    position: absolute;
    right: 21%;
    bottom: -28%;
    background-color: #CB5C5B;
}



/* Animations */

.nav__bar__links ul li a:hover,
.nav__bar__actions__signIn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.2s ease;
}

.nav__bar__actions__signUp:hover,
.trail__bottom__input button:hover {
    background-color: #289116;
}

.trail__top__left .fa:hover {
    box-shadow: 0 0 5px gray;
}

.trail__top__right button:hover,
.resources__content button:hover,
.reviews>button:hover {
    border: 2px solid #F36C00;
    color: #F36C00;
}

.reviews>button:hover a {
    color: #F36C00;
}

.trail__bottom a:hover .fa-arrow-right {
    transform: translateX(5px);
}

.reviews__cards__item:hover {
    box-shadow: 0 0 5px gray;
}

.resources__card__item--teal:hover {
    transform: rotateZ(-12deg) translateX(80px) translateY(-10px);
}

.resources__card__item--orange:hover {
    transform: translate(-50%) translateY(-10px);
}

.resources__card__item--crimson:hover {
    transform: rotateZ(12deg) translateX(-80px) translateY(-10px);
    transform-origin: bottom right;
}

/* Media queries */

@media screen and (min-width: 300px) and (max-width: 767px) {
    .nav__bar .nav__bar__burger__menu {
        display: block;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .nav__bar__links,
    .nav__bar .nav__bar__actions {
        display: none;
    }
}


@media screen and (max-width:767px) {}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .nav__bar__actions .nav__bar__actions__signIn,
    .nav__bar__actions .nav__bar__actions__signUp,
    .nav__bar__actions ul li a {
        font-size: 14px;
    }
}