* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

​body {
    font-family: 'Poppins', sans-serif;
}

#manageclient__containers {
    background-color: #f4f4f4;
}


.manageclient__sections_trackcreateproject {
    border: 1px solid grey;
    text-align: center;
    width: 100vh;
    height: 55vh;
    margin: 10px 220px;
    color: #c1c1c1;
    font-size: 20px;
    line-height: 1.2em;
    border-radius: 10px;
}
.manageclient__sections_trackcreateproject > p {
    margin-top: 24vh;
}

.manageclient__sections_trialupgrade {
    height: 60px;
    background-color: #f9f9f9;
    color: whitesmoke;
    font-size: 12px;
}

.manageclient__sections_trialleft {
    display: flex;
    flex: 1;
    padding: 32px 3px;
    margin: 120px;
    text-align: center;
    border: 1px solid white;
}

.manageclient__sections_trialleft>button {
    text-align: center;
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    height: 30px;
    color: #666666;
    font-weight: bold;
    font-size: 14px;
    margin-left: 12px;
    cursor: all-scroll;
    background: linear, left top, left bottom, from(#f4f4f4), to(#e4e4e4);
}

.manageclient__sections_trialleft>p {
    text-align: center;
    text-align: center;
    margin-top: 7px;
    color: grey;
    font-size: 14px;
}

.manageclient__sections_trialleft>p>span {
    color: darkgrey;
}

.manageclient__sections_privacyterms {
    margin-left: 53vh;
    padding: 2px;
    margin-top: -10px;
}

.manageclient__sections_privacyterms>.manageclient__sections_privacylinks {
    color: grey;
    text-decoration: none;
    padding-left: 11px;
    font-size: 15px;
}

.manageclient__sections_privacylinks:hover {
    color: lightgrey;
}

#manageclient_harvesting {
    color: lightgrey;
    font-size: 33px;
}

#manageclient_harvesting:hover {
    color: grey;
    font-size: 33px;
}

.manageclient__details {
    color: grey;
    padding: 12px;
    width: 100%;
    height: 5vh;
    background-color: #eeeeee;
}

.manageclient__details__invoices {
    display: flex;
    flex: 1;
    margin-left: 100px;
}

.manageclient__details__invoices>a {
    text-decoration: none;
    color: grey;
    padding: 12px;
    font-size: 14px;
}
.manageclient__details__invoices>a:hover {
    color: grey;
    border-bottom: 2px solid orange;
}

.manageclient__details__invoices>a>span {
    color: black;
}

.manageclient__details__invoices>a>span:hover {
    color: orange;
}

.manageclient__btn{
    margin: 40px 198px
}

.manageclient__btn>h1{
    color: #333333;
    font-size: 26px;
    margin-left: 10px;
}
.manageclient__btn>h1+button {
    text-align: center;
    border: 2px solid wheat;
    text-align: center;
    margin: 10px 10px;
    width: 140px;
    height: 40px;
    border-radius: 8px;
    color: whitesmoke;
    background: linear-gradient(#4fb840, #14a000);
    font-size: 15px;
    cursor: pointer;
}

.manageclient__btn>h1+button +select{
    text-align: center;
    border: 2px solid whitesmoke;
    text-align: center;
    margin: 10px 10px;
    width: 140px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 2px;
    font-size: 15px;
    font-weight: bold;
    color: grey;
    cursor: pointer;
}
.manageclient__impexports{
    border: 3px solid whitesmoke;
    box-shadow: 5px;
}
.manageclient__btn>h1+button :hover {
    color: grey;
}

